/*   Buttons   */

%btn {
    font-family: $primary-font;
    font-size: 14px;
    font-weight: 600;
    text-align: center;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    height: 40px;
}

.btn {
    @extend %btn;

    &--submit {
        background-color: $color-green;
        color: $color-champagne;
        width: 332px;
    }

    &--try-again {
        background-color: $color-champagne;
        color: $color-green;
        width: 332px;
    }

    &--close {
        background-color: $color-platinum;
        color: $color-dark;
        width: 332px;
    }
}
