/*   Buttons   */

%btn {
    font-family: $primary-font;
    font-size: 14px;
    font-weight: 600;
    text-align: center;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    height: 40px;
    min-width: 230px;
    max-width: 332px;

    @include respond-to(300px) {
        min-width: 270px;
    }
}

.btn {
    @extend %btn;
}

.btn--submit {
    background-color: $color-green;
    color: $color-champagne;

    @include respond-to(768px) {
        min-width: 140px;
    }
}

.btn--try-again {
    background-color: $color-champagne;
    color: $color-green;

    @include respond-to(768px) {
        min-width: 190px;
    }
}

.btn--close {
    background-color: $color-platinum;
    color: $color-dark;
    margin-top: 15px;

    @include respond-to(768px) {
        min-width: 190px;
    }

    @include respond-to(1020px) {
        display: none;
    }
}
