@import "./lib/variables";
@import "./lib/mixins";
@import "./base/buttons";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: $color-white;
    font-family: $primary-font;
    overflow-x: hidden;
    //min-height: 100vh;
    width: 100vw;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;

    @include max-width(800px);

    @include respond-to(768px) {
        display: grid;
        justify-items: center;
        grid-template-rows: 1fr auto 1fr;
    }
}

.logo {
    height: 120px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    &__img {
        width: 60%;
        max-width: 265px;

        @include respond-to(768px) {
            min-width: 350px;
        }
    }

    @include respond-to(768px) {
        height: 89px;
        margin: auto;
    }
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid $color-platinum;
    border-radius: 20px;
    padding: 30px 0;

    &__title {
        font-size: 36px;
        font-weight: 800;
        text-align: center;
        line-height: 1.1em;
        width: 90%;
    }

    &__description {
        font-size: 14px;
        font-weight: 400;
        color: $color-grey;
        text-align: center;
        margin-top: 10px;
        width: 70%;
    }

    &__inputs {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__group {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        margin: 25px 0 60px;
        max-width: 100%;

        @include respond-to(720px) {
            max-width: 90%;
        }

        @include respond-to(1020px) {
            max-width: auto;
        }
    }

    &__group-input {
        display: flex;
        align-items: center;
        margin: 10px 15px 0;
    }

    &__radio {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        display: inline-block;
        width: 20px;
        height: 20px;
        margin-right: 10px;
        padding: 4px;
        background-clip: content-box;
        border: 1px solid $color-green;
        background-color: $color-white;
        border-radius: 50%;

        &:checked {
            background-color: $color-green;
        }
    }

    &__label {
        font-size: 14px;
        font-weight: 400;
        color: $color-dark;
    }

    &__input-title {
        font-size: 12px;
        font-weight: 600;
        color: $color-dark;
        text-align: left;
        display: inline-block;
        min-width: 230px;
        max-width: 332px;

        @include respond-to(300px) {
            min-width: 270px;
        }

        @include respond-to(1020px) {
            width: 332px;
        }
    }

    &__input {
        height: 40px;
        min-width: 230px;
        max-width: 332px;
        margin-top: 5px;
        margin-bottom: 60px;
        border: 1px solid $color-grey;
        border-radius: 10px;
        padding: 0 15px;
        font-family: $primary-font;
        font-weight: 400;

        @include respond-to(300px) {
            min-width: 270px;
        }

        @include respond-to(1020px) {
            width: 332px;
        }
    }

    @include respond-to(1020px) {
        width: 800px;
    }
}

// Modal
.overlay {
    background: rgba($color-green, 0.8);
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    display: none;
    opacity: 0;
}

.modal {
    max-height: 100vh;
    @include max-width(500px);
    position: fixed;
    z-index: 1000;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: none;
    opacity: 0;
    align-items: center;
    justify-content: center;
    transition: 3s display ease-in;

    @include respond-to(1020px) {
        width: 500px;
    }
}

.active {
    display: flex;
    opacity: 1;
}

.card-result {
    background-color: $color-white;
    border-radius: 15px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 100%;
    width: 100%;

    &__header {
        @include respond-to(1020px) {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
    }

    &__title {
        font-size: 21px;
        font-weight: 800;
        text-align: center;

        @include respond-to(1020px) {
            text-align: left;
        }
    }

    &__close {
        display: none;
        cursor: pointer;

        @include respond-to(1020px) {
            display: inline;
        }
    }

    &__operation {
        font-size: 16px;
        font-weight: 700;
        text-transform: uppercase;
        margin-top: 30px;
        text-align: center;
    }

    &__result {
        font-size: 70px;
        font-weight: 800;
        color: $color-green;
        background-image: url(../images/Confetti.png);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        margin: 30px 0 50px;
        padding: 10px;
        text-align: center;
        min-width: 120px;

        @include respond-to(768px) {
            font-size: 100px;
        }

        @include respond-to(1020px) {
            width: 100%;
        }
    }
}
